body {
    background-color: #1c1c1c;
    color: #ffffff;
}
.container {
    margin-top: 50px;
}
.form-control, .btn {
    border-radius: 0;
}
.btn-dark-green {
    background-color: #004d00;
    color: #ffffff;
}
.btn-dark-green:hover {
    background-color: #003300;
}
.form-group label {
    color: #ffffff;
}
.response-field {
    border: 1px solid #004d00;
    border-radius: 0;
    background-color: #333333;
}
.download-buttons {
    margin-top: 20px;
}
.upload-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.upload-buttons input[type="file"] {
    display: none;
}
.upload-buttons label {
    background-color: #004d00;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}